.about {
  background-color: #f4f4f4;
  padding: 60px;
  text-align: center;
}

.about h2 {
  color: #222;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about li {
  margin: 8px 0;
  font-weight: 500;
}