.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 15px 40px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.Nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.Nav-links li a {
  text-decoration: none;
  color: white;
}

.Nav-links li a:hover {
  color: #00adb5;
}