.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #222;
  color: white;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(143, 73, 73);
}

.links a:hover {
  color: #00adb5;
}